//
//  Secrets.xcconfig
//  AudiobookReader
//
//  Created by Jonathan Jayet on 01/09/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
GOOGLE_CSE_API_KEY=AIzaSyAUwupZP47x816pqRZH7BGWMjSVII3n5XQ
GOOGLE_CSE_ID=b626822d80f5c4c44
